@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: 'ArchivoBlack';
  src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'ArchivoBlack', sans-serif;
  font-weight: 500;
}

/* styles.css */
smain {
  background-image: url('/mc-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

